.home {
  //padding: 32px 120px;
  display: flex;
  flex-direction: column;
  width: 1200px;
  //height: 950px;
  margin: 0 auto;
  background: #ffffff;
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 14px;
    .header-l {
      display: flex;
      align-items: center;
    }
  }
  .logo {
    margin-right: 35px;
  }
  .menu {
    display: flex;
    font-size: 14px;
    color: #000000;
    font-family: SimSong-Bold;
    .menu-list {
      cursor: pointer;
      margin-right: 20px;
      &:nth-child(4) {
        margin-right: 0;
      }
    }
  }
  .main {
    .swiper-box {
      height: 300px;
      background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4b665b707c4b2ccb242f5842ce0bea4691096dfdfaacf9dd1f58aa23fc2a58eb)
      100% no-repeat;
      margin-bottom: 94px;
    }
    .word3 {
      font-size: 28px;
      letter-spacing: 2.3333332538604736px;
      font-family: SimSong-Bold;
      text-align: center;
      white-space: nowrap;
      color: rgba(0, 0, 0, 1);
    }
    .word5 {
      margin-top: 20px;
      color: rgba(0, 0, 0, 1);
      font-size: 16px;
      letter-spacing: 1.3333333730697632px;
      font-family: SimSong-Regular;
    }
    .recommend {
      display: flex;
      margin-top: 56px;
      .recommend-list {
        margin-right: 7px;
        width: 295px;
        height: 160px;
        &:nth-child(4) {
          margin-right: 0;
        }
        .info {
          width: 250px;
          height: 60px;
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 14px;
          letter-spacing: 1px;
          font-family: SimSong-Regular;
          text-align: center;
          line-height: 20px;
          margin-left: 25px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
        }
      }
    }
    .CLASSIC {
      margin-top: 120px;
      >span {
        text-align: center;
        display: block;
        margin: 0 auto;
      }
      span {
        &:nth-child(1) {
          width: 146px;
          height: 32px;
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 32px;
          letter-spacing: 4.266666889190674px;
          font-family: SimSong-Bold;
          text-align: center;
          white-space: nowrap;
          line-height: 32px;
          margin: 0 auto 12px auto;
        }
        &:nth-child(2) {
          width: 147px;
          height: 22px;
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 18px;
          letter-spacing: 2.25px;
          font-family: SimSong-Regular;
          text-align: left;
          white-space: nowrap;
          line-height: 22px;
        }
      }
    }
    .imgList {
      margin-top: 62px;
      width: 1196px;
      .imgItem {
        width: 296px;
        height: 200px;
      }
    }
  }
}
